.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.weather-data-details {
  margin-top: -15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.not-found-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 915px;
  background: linear-gradient(45deg, #9141e9 0%, #6f3887 50%);
  gap: 2vh;
  color: aliceblue;
}

.not-found-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(106.23deg, #b369e0, #531f68 100%);
  border-radius: 5px;
  padding: 8px;
  transition: all 0.5s ease;
  color: aliceblue;
}

.not-found-btn:hover {
  transform: scale(1.1);
}